<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kbasa.teaching">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="io.github.abhimanbhau.SDKManager"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="*_*"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".Notification">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".RecevieMessage">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".RegistrationActivity" />
        <activity android:name=".teachers.TeacherAddCourseActivity" />
        <activity android:name=".TeacherHomeActivity" />
        <activity android:name=".teachers.TeacherEditCourseActivity" />
        <activity android:name=".students.CourseIntroductionActivity" />
        <activity android:name=".StudentSearchActivity" />
        <activity android:name=".teachers.ViewCourseActivity" />
        <activity android:name=".students.EnrollActivity"></activity>
    </application>

</manifest>